body {
  background: rgb(175, 234, 237);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkblue;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  max-width: 100%;
  max-height: 100%
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 70%;
  max-height: 100%;
  text-align: center;
  display: block;
  -webkit-animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both
}

@-webkit-keyframes img{0%{-webkit-transform:rotateY(0deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

#conditionButton {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: 2.1rem;
  margin-right: 30rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#favoriteButton {
  background-color: rgb(255, 202, 87);
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: 2.1rem;
  margin-right: 30rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#closeButton {
  background-color: rgb(0, 0, 133);
  color: white;
  padding: 15px 15px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 30rem;
  margin-top: 3rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 3rem;
  text-shadow: -2px 4px 11px rgba(123, 123, 123, 0.6);
  font-family: "Lexend Deca", sans-serif;
  color: rgb(0, 0, 133);
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

#fishContainer {
  padding-top: 5rem;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: auto auto;
  max-width: 100%;
}

.fishCard {
  border: solid 1px rgb(0, 0, 65);
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 65);
  display: flex;
  flex-direction: column;
  font-size: larger;

}

.checked {
  color: orange;
}

.popup {
  position: absolute;
  border: solid 1px black;
  background-color: rgb(255, 203, 212);
  padding: 5px;
  max-width: 50%;
  margin-top: 3;
  margin-left: 10%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
